* {
  margin: 0;
  padding: 0;
}

body {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  overflow-x: hidden;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;

}

/* heder start  */
.header {
  width: 100%;
  height: 130px;
  background-color: white;
  position: fixed;
  /* 固定位置定位*/
  z-index: 3;
  top: 0;
  /*重疊時會在其他元素之上*/
}

.header .header_body {
  width: 100%;
  height: 130px;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.header .header_body img {
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
}

.header .header_body .top_menu {
  width: 1000px;
  height: 130px;
  display: flex;
  flex-direction: column;
}

.header .header_body .top_menu .header_menu {
  height: 50px;
  justify-content: flex-end;
  /*margin-top: 80px;*/
  margin-right: 25%;

}

.header .header_body .top_menu .header_top {
  width: 300px;
  height: 70px;
  margin-left: 60%;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: right;
  padding-right: 10px;
}

.header .header_body .top_menu .header_top i {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  color: #2f3640;

}

.login-text {
  text-decoration: none;
  /* 移除超連結底線 */
  color: inherit;
  /* 移除超連結顏色 */
  margin-left: 3%;
  font-weight: bold;
}

/* search */
.header .header_body .top_menu .header_top .search-box {
  position: absolute;
  margin-left: 4%;
  width: 170px;
  top: 22px;
  transform: translate(-50%, -50%);
  background: #F8F8FF;
  height: 10px;
  border-radius: 40px;
  padding: 10px;

}



.header .header_body .top_menu .header_top .search-btn {
  color: #2f3640;
  float: right;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F8F8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
}

.header .header_body .top_menu .header_top .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #2f3640;
  font-size: 10px;
  transition: 0.4s;
  line-height: 10px;

}


/*目錄*/


nav ul {
  list-style: none;
  /* 移除項目符號 */
  padding: 0;
  width: 600px;
  position: relative;
  margin: 0 auto;

}

nav li {
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

nav a {
  display: block;
  /* 讓 <a> 填滿 <li> */
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  /* 移除超連結底線 */
  color: inherit;
  /* 移除超連結顏色 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav a:hover {
  background-color: #B4B4B4;
  color: white;
}

.flex-nav {
  display: flex;
}



/*
.picture_rotation {

  margin-top: 150px;
  width: 100%;
  height: 400px;
  position: relative;
  top: 30px;
  bottom: 30px;
}

a {
  text-decoration: none;
}

.banner {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 100px auto;
  position: relative;
}

.banner ul {
  width: 100%;
  height: 100%;
  position: absolute;

}

.banner ul li {
  float: left;
  list-style-type: none;
  width: 100%;
  height: 100%;

}

.banner img {
  width: 100%;
  height: 100%;
}

.banner .num {
  width: 100%;
  height: 20px;

  position: absolute;
  left: 0;
  bottom: 10px;
  text-align: center;
}

.banner .num span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  margin: 0 8px;
  cursor: pointer;
}

.banner .prev {
  display: block;
  width: 40px;
  height: 74px;
  background-color: rgb(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -37px;
  text-align: center;
  transition: background-color 0.3s;
}

.banner .next {
  display: block;
  width: 40px;
  height: 74px;
  background-color: rgb(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -37px;
  text-align: center;
  transition: background-color 0.3s;
}

.banner .prev i,
.banner .next i {
  font-size: 30px;
  line-height: 74px;
  transition: background-color 0.3s;
}

.banner .prev:hover,
.banner .next:hover {
  background-color: brga(0, 0, 0, 0.5);
  color: #fff;
}

.banner .num span:hover {
  background-color: #ccc;
}

.banner .num span.on {
  width: 30px;
  height: 15px;

}
*/
/*marquee*/
.marquee {
  margin-top: 130px;
  width: 100%;
  height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #003C9D;
}

/*ad*/
.ad {
  width: 100px;
  text-align: center;
  position: relative;
  float: right;
  z-index: 2;
}

.ad img{
  border-radius: 20%;
}

.marquee marquee {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.slider input {
  display: none;
}

.slide-content {
  padding: 0;
  width: 100%;
  height: 100%;
}

#slider {
  width: 100%;
  max-width: 100%;
  text-align: center;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  height: 400px;
  width: 80%;
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  left: 10%;
  right: 10%;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked~#slides .inner {
  margin-left: 0;
}

#slide2:checked~#slides .inner {
  margin-left: -100%;
}

#slide3:checked~#slides .inner {
  margin-left: -200%;
}

#slide4:checked~#slides .inner {
  margin-left: -300%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.800, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 400px;
}

#slides .slide {
  width: 25%;
  float: left;
  display: block;
  height: 100%;
  color: #fff;
}

#slides .slide_1 img {
  width: 100%;
  height: 100%;
}

#slides .slide_2 img {
  width: 100%;
  height: 100%;
}

#slides .slide_3 img {
  width: 100%;
  height: 100%;
}

#slides .slide_4 img {
  width: 100%;
  height: 100%;
}

#controls {
  margin: -230px 0 0 0;
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 10%;
  height: 50px;
  z-index: 2;
  position: relative;
}

#controls label {
  transition: opacity 0.2s ease-out;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

#controls label:hover {
  opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
  background: url(http://www.withoutjs.com/assets/images/slider/next.png) no-repeat;
  float: right;
  margin: 0 -50px 0 0px;
  display: block;
}

#slide1:checked~#controls label:nth-child(4),
#slide2:checked~#controls label:nth-child(1),
#slide3:checked~#controls label:nth-child(2),
#slide4:checked~#controls label:nth-child(3) {
  background: url(http://www.withoutjs.com/assets/images/slider/prev.png) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets {
  margin: 200px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
  background: #444;
}

@media screen and(max-width:900px) {

  #slide1:checked~#controls label:nth-child(2),
  #slide2:checked~#controls label:nth-child(3),
  #slide3:checked~#controls label:nth-child(4),
  #slide4:checked~#controls label:nth-child(1),
  #slide1:checked~#bullets label:nth-child(1),
  #slide2:checked~#bullets label:nth-child(2),
  #slide3:checked~#bullets label:nth-child(3),
  #slide4:checked~#bullets label:nth-child(4) {
    margin: 0;
  }
}

/* hot */
.hot_box {

  width: 91.5%;
  position: relative;
  margin: 30px 30px;
  text-align: center;
  padding: 10px 20px;
}

.hot_box .hot_title {
  border-bottom: black 1px solid;
  text-align: left;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.63px;
  font-size: 160%;
  margin-bottom: 10px;
}

.hot_box .hot_box_productbox {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
  translate: (0px 0px 0px);
  padding-right: 15px;
  margin-right: auto;
  margin-left: 10px;

}

.hot_box .hot_box_productbox .hot_box_product {

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*margin-right: -15px;
  margin-left: -15px;*/
  padding-right: 10px;

}

.hot_box .hot_box_productbox .hot_box_product .img-fluid {
  max-width: 100%;
  height: auto;
}

.hot_box .hot_box_productbox .hot_box_product img {
  vertical-align: middle;
  border-style: none;
  width: 285px;
  height: 380px;

}

.hot_box .hot_box_productbox .hot_box_product a {
  text-decoration: none;
  /* 移除超連結底線 */
  color: inherit;
  /* 移除超連結顏色 */
}

.hot_box .hot_box_productbox .hot_box_product p {
  margin-top: 5px;
  margin-bottom: 1rem;
  text-decoration: none;

}

/* woman_hot */
.hot_box .womanhot_title {

  text-align: left;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.63px;
  font-size: 160%;
  margin-bottom: 10px;
}

.hot_box .womanhot_title div {
  width: 8.6%;
  text-align: left;
  letter-spacing: 0;
  color: white;
  font-size: 80%;
  padding: 0.6% 0.9%;
}

/* woman-content */
.womem-content {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;

}

.list {
  margin-top: 40px;
  margin-left: 50px;

}

.list ul {
  margin-top: 5px;
  margin-left: 20px;
}

.list li {
  list-style: none;
  font-size: 18px;
}

.list li :hover {
  background-color: #B4B4B4;
  color: white;
}

.all_list {
  width: 20%;
  background: white;
  float: left;
  margin-top: 120px;

}

.list-a {
  list-style: none;
  color: black;
  text-decoration: none;
  /* 移除超連結底線 */
  color: inherit;
  /* 移除超連結顏色 */
}

.woman_product {
  width: 80%;
  /* background: paleturquoise;*/
  background: powderblue;
  float: right;
  margin-top: 120px;

}

/* product_information */
.product_information {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  background: blanchedalmond;
  width: 80%;
  float: right;
  margin-top: 120px;
}

.product_information .product_img {
  margin-left: 20%;
  margin-top: 7%;
  margin-bottom: 7%;
  max-width: 100%;
  height: auto;
}

.product_information .product_text {
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 7%;
  max-width: 100%;
  height: auto;
}

.product_information .product_text .number1 {
  margin-top: 30px;
}

.product_information .product_text .number2 {
  margin-top: 5px;
}

.product_information .product_text .number3 {
  margin-top: 5px;
  margin-bottom: 30px;
}

.product_information .product_text h1 {
  margin-top: 3px;
  font-size: 24px;
  letter-spacing: 1.4px;
}

.product_information .product_text .span1 {
  display: inline-block;
  width: 90px;
  letter-spacing: .2px;
  font-size: 20px;
}

.product_information .product_text .span2 {
  letter-spacing: .2px;
  font-size: 20px;
  margin-top: 10px;
}

.product_information .product_text .product_button {
  display: inline-block;
  width: 170px;
  height: 42px;
  color: #fff;
  background-color: #3a3a3a;
  font-size: 15px;
  text-align: center;
  line-height: 42px;
  margin-right: 12px;
}

/* footer */
.footer {
  width: 100%;
  background-color: #D3D0CF;
  height: 80px;
  overflow: hidden;
  color: #FFFFFF;
  text-align: center;
}

.f {
  margin-top: 28px;
}